html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Raleway', sans-serif; }

a {
  text-decoration: none; }

input, select {
  font-size: 16px;
  height: 62px;
  padding: 0 30px;
  color: black;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #e5e5e5; }
  input::placeholder, select::placeholder {
    color: gray; }

textarea {
  font-size: 16px;
  height: 62px;
  padding: 0 30px;
  color: black;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  height: auto;
  padding: 30px; }
  textarea::placeholder {
    color: gray; }

.bs-fgroup {
  width: 100%;
  margin: 1rem 0; }

.bs-btn {
  border: none;
  border-radius: 4px;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.165em;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: 0.2s box-shadow ease-in-out, 0.2s background-color ease-in-out, 0.2s border-color ease-in-out;
  white-space: nowrap;
  padding: 1.2em 4em; }

.bs-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100px;
  background: white;
  box-shadow: 0 3px 30px -1px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem; }
  .bs-nav .logo a strong {
    color: #02C873;
    font-size: 1.6rem; }
  .bs-nav .top-menu a {
    display: inline-block;
    margin: 0 1.8rem;
    color: #02C873;
    font-weight: 600; }

.bs-header {
  width: 100%;
  height: 800px; }
  .bs-header .bs-nav {
    background: transparent; }
  .bs-header .bs-slider {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center; }
    .bs-header .bs-slider .owl-carousel {
      width: 100%;
      height: 800px; }
      .bs-header .bs-slider .owl-carousel .item {
        width: 100%;
        height: 800px;
        display: flex;
        align-items: center; }
        .bs-header .bs-slider .owl-carousel .item .item-slider-desc {
          width: 50%;
          padding: 3rem 3rem 0 10rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          line-height: 1.3; }
          .bs-header .bs-slider .owl-carousel .item .item-slider-desc h1 {
            font-size: 3rem;
            color: black; }
          .bs-header .bs-slider .owl-carousel .item .item-slider-desc p {
            font-size: 1.2rem;
            margin: 2rem 0; }
          .bs-header .bs-slider .owl-carousel .item .item-slider-desc div a {
            display: flex;
            align-items: center;
            padding: 0.6rem 0.5rem 0.6rem 1.5rem;
            background: #02C873;
            color: white;
            border-radius: 2.5rem; }
            .bs-header .bs-slider .owl-carousel .item .item-slider-desc div a span {
              margin-left: 1rem;
              width: 35px;
              height: 35px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              background: white; }
              .bs-header .bs-slider .owl-carousel .item .item-slider-desc div a span i {
                color: #02C873; }
        .bs-header .bs-slider .owl-carousel .item .item-slider-img {
          width: 50%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .bs-header .bs-slider .owl-carousel .item .item-slider-img .slider-figure {
            width: 500px;
            height: 500px;
            margin-top: 2rem;
            border-radius: 50%;
            position: relative; }
            .bs-header .bs-slider .owl-carousel .item .item-slider-img .slider-figure > div {
              width: 100%;
              height: 100%;
              border-radius: inherit;
              border: 30px solid white;
              overflow: hidden;
              position: relative; }
              .bs-header .bs-slider .owl-carousel .item .item-slider-img .slider-figure > div img {
                width: 100%; }
              .bs-header .bs-slider .owl-carousel .item .item-slider-img .slider-figure > div div {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 150px;
                background: rgba(2, 200, 115, 0.88);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1rem 3rem;
                color: white;
                transition: all 200ms linear; }
                .bs-header .bs-slider .owl-carousel .item .item-slider-img .slider-figure > div div span {
                  text-align: center; }
            .bs-header .bs-slider .owl-carousel .item .item-slider-img .slider-figure:hover > div div {
              height: 100%; }
            .bs-header .bs-slider .owl-carousel .item .item-slider-img .slider-figure:before {
              position: absolute;
              content: '';
              top: -15%;
              left: -15%;
              z-index: -1;
              width: 130%;
              height: 130%;
              border-radius: inherit;
              background: whitesmoke;
              border: 1px solid whitesmoke; }
            .bs-header .bs-slider .owl-carousel .item .item-slider-img .slider-figure:after {
              position: absolute;
              content: '';
              top: -30%;
              left: -30%;
              z-index: -2;
              width: 160%;
              height: 160%;
              border-radius: inherit;
              background: #f8f8f8; }
  .bs-header .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
    position: absolute;
    bottom: 4rem;
    width: 100%;
    padding-left: 10rem; }
  .bs-header .owl-theme .owl-dots, .bs-header .owl-theme .owl-nav {
    text-align: left;
    -webkit-tap-highlight-color: transparent; }
  .bs-header .owl-theme .owl-dots .owl-dot span {
    width: 18px;
    height: 18px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 0; }
  .bs-header .owl-theme .owl-dots .owl-dot.active span, .bs-header .owl-theme .owl-dots .owl-dot:hover span {
    background: #02C873; }

.bs-strip {
  width: 100%;
  height: 200px;
  background: #02C873;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .bs-strip h1 {
    font-size: 2.3rem;
    color: whitesmoke; }
  .bs-strip p {
    color: whitesmoke;
    margin-top: 0.8rem;
    font-size: 1.2rem; }

.b-sitters {
  width: 100%;
  padding: 6rem 10rem 4rem 10rem; }
  .b-sitters h4 {
    text-align: center;
    margin-bottom: 4rem; }
    .b-sitters h4 strong {
      color: #02C873;
      font-size: 1.2rem; }
  .b-sitters > .b-sitters-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .b-sitters > .b-sitters-list .b-sitter {
      width: 48%;
      height: 200px;
      margin-bottom: 2rem;
      background: rgba(0, 0, 0, 0.03);
      display: flex;
      justify-content: flex-start; }
      .b-sitters > .b-sitters-list .b-sitter .sitter-img {
        height: 100%;
        width: 35%;
        margin-right: 1rem;
        overflow: hidden; }
        .b-sitters > .b-sitters-list .b-sitter .sitter-img img {
          height: 100%; }
      .b-sitters > .b-sitters-list .b-sitter .sitter-info {
        width: calc(100% - (35% + 2rem));
        padding: 1rem;
        display: flex;
        align-items: flex-start;
        flex-direction: column; }
        .b-sitters > .b-sitters-list .b-sitter .sitter-info h3 {
          font-size: 1.3rem; }
        .b-sitters > .b-sitters-list .b-sitter .sitter-info strong {
          display: block;
          width: 100%;
          padding: 1rem 0;
          background: rgba(0, 0, 0, 0.01);
          margin: 1rem 0; }
        .b-sitters > .b-sitters-list .b-sitter .sitter-info p {
          margin-top: 0; }
        .b-sitters > .b-sitters-list .b-sitter .sitter-info .sitter-actions {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-top: 2rem; }
          .b-sitters > .b-sitters-list .b-sitter .sitter-info .sitter-actions a {
            display: inline-block;
            margin-right: 2rem; }
            .b-sitters > .b-sitters-list .b-sitter .sitter-info .sitter-actions a i {
              color: #02C873; }
            .b-sitters > .b-sitters-list .b-sitter .sitter-info .sitter-actions a span {
              color: #636363;
              transition: color 300ms; }
            .b-sitters > .b-sitters-list .b-sitter .sitter-info .sitter-actions a:hover span {
              color: red; }
  .b-sitters p {
    text-align: center;
    margin-top: 5rem; }
    .b-sitters p a {
      display: inline-block;
      background: #02C873;
      color: whitesmoke;
      padding: 1rem 3rem;
      border-radius: 2rem; }
      .b-sitters p a i {
        margin-left: 0.5rem; }

.start-meet {
  width: 100%;
  padding: 3rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .start-meet .start-img {
    width: 45%; }
    .start-meet .start-img img {
      width: auto;
      height: 450px;
      border-radius: 8px;
      box-shadow: 0 3px 30px -1px rgba(0, 0, 0, 0.3); }
  .start-meet .start-desc {
    width: 45%; }
    .start-meet .start-desc h3 {
      font-size: 1.6rem; }
    .start-meet .start-desc .sitter-features .sitter-feature {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 2.5rem 0; }
      .start-meet .start-desc .sitter-features .sitter-feature .sitter-f-icon {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1.5rem;
        background: #02C873; }
        .start-meet .start-desc .sitter-features .sitter-feature .sitter-f-icon i {
          color: whitesmoke; }
      .start-meet .start-desc .sitter-features .sitter-feature .sitter-f-desc {
        width: calc(100% - (70px + 1.5rem)); }
    .start-meet .start-desc > p {
      text-align: left;
      margin-top: 2rem; }
      .start-meet .start-desc > p a {
        display: inline-block;
        border: 1px solid #02C873;
        color: #02C873;
        padding: 0.8rem 3rem;
        border-radius: 2rem;
        transition: all 300ms; }
        .start-meet .start-desc > p a i {
          margin-left: 0.5rem; }
        .start-meet .start-desc > p a:hover {
          background: #02C873;
          color: whitesmoke; }

.works {
  width: 100%;
  min-height: 500px;
  margin: 3rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.99)), url("../img/kids.png");
  padding: 4rem 10rem 6rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .works h3 {
    color: whitesmoke;
    font-size: 1.8rem;
    margin-bottom: 4rem; }
  .works > section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .works > section h4 {
      font-size: 1.4rem;
      color: whitesmoke;
      border-bottom: 1px solid rgba(211, 211, 211, 0.2);
      line-height: 1.2;
      width: 100%;
      padding-bottom: 0.5rem; }
    .works > section .works-f {
      width: 45%; }
      .works > section .works-f .work-p {
        margin: 2.5rem 0;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .works > section .works-f .work-p i {
          display: inline-block;
          color: whitesmoke;
          margin-right: 1.5rem; }
        .works > section .works-f .work-p span {
          display: inline-block;
          color: whitesmoke; }
    .works > section p {
      text-align: left;
      margin-top: 2rem; }
      .works > section p a {
        display: inline-block;
        border: 1px solid rgba(45, 209, 175, 0.71);
        color: rgba(45, 209, 175, 0.71);
        padding: 0.7rem 2.6rem;
        border-radius: 2rem;
        transition: all 300ms; }
        .works > section p a i {
          margin-left: 0.5rem; }
        .works > section p a:hover {
          background: #02C873;
          color: whitesmoke; }

.confidence {
  width: 100%;
  padding: 3rem 10rem; }
  .confidence h3 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: #5d5d5d; }
  .confidence > section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    .confidence > section .conf {
      width: 28%;
      margin: 2rem 0;
      min-height: 150px;
      box-shadow: 0 3px 35px -1px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 300ms; }
      .confidence > section .conf i {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: #02C873; }
      .confidence > section .conf:nth-child(2) i {
        color: #ff9800; }
      .confidence > section .conf:last-child i {
        color: red; }
      .confidence > section .conf:hover {
        box-shadow: 0 3px 35px -1px rgba(0, 0, 0, 0.2);
        transform: translateY(-10px); }

.bs-footer {
  width: 100%;
  background: #02C873;
  padding: 5rem 10rem 2rem 10rem;
  margin-top: 2rem; }
  .bs-footer .footer-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(245, 245, 245, 0.63);
    padding-bottom: 4rem; }
    .bs-footer .footer-top .with-us h3 {
      font-size: 1.8rem;
      color: whitesmoke;
      margin-bottom: 1rem; }
    .bs-footer .footer-top .with-us span {
      color: whitesmoke;
      font-size: 1.2rem; }
    .bs-footer .footer-top .bs-social {
      display: flex;
      align-items: center; }
      .bs-footer .footer-top .bs-social a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: white;
        margin-left: 2rem; }
        .bs-footer .footer-top .bs-social a i {
          color: #02C873;
          font-size: 1.4rem; }
  .bs-footer .footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem; }
    .bs-footer .footer-bottom a {
      font-size: 1.1rem;
      color: whitesmoke; }

.bs-auth {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end; }
  .bs-auth .bs-nav {
    background: transparent; }
  .bs-auth .auth-form-wrapper {
    width: 35%;
    height: 100%;
    position: relative; }
    .bs-auth .auth-form-wrapper:before {
      position: absolute;
      content: '';
      top: -25%;
      left: 0;
      z-index: -1;
      width: 120%;
      height: 150%;
      border-radius: 50%;
      background: white; }
    .bs-auth .auth-form-wrapper form {
      width: 100%;
      height: 100%;
      padding: 2rem 2rem 2rem 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      .bs-auth .auth-form-wrapper form h2 {
        font-size: 2rem; }
        .bs-auth .auth-form-wrapper form h2 strong {
          color: #02C873; }
      .bs-auth .auth-form-wrapper form p {
        margin: 1.4rem 0; }
      .bs-auth .auth-form-wrapper form .forgot-pwd {
        text-align: right; }
        .bs-auth .auth-form-wrapper form .forgot-pwd a {
          font-size: 0.8rem; }
      .bs-auth .auth-form-wrapper form .auth-action {
        width: 100%;
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .bs-auth .auth-form-wrapper form .auth-action .bs-btn {
          background: #02C873;
          color: white; }
        .bs-auth .auth-form-wrapper form .auth-action a {
          color: #02C873;
          font-weight: 600; }
  .bs-auth .auth-page-image {
    width: 65%;
    height: 100%;
    position: relative;
    z-index: -2;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url("../img/auth-cover.jpeg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; }
    .bs-auth .auth-page-image .bs-connections {
      width: 500px;
      height: 500px;
      border-radius: 50%;
      position: relative;
      border: 1px solid white;
      display: flex;
      justify-content: center;
      align-items: center; }
      .bs-auth .auth-page-image .bs-connections .con-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        border-radius: inherit;
        overflow: hidden; }
        .bs-auth .auth-page-image .bs-connections .con-img img {
          width: 100%; }
      .bs-auth .auth-page-image .bs-connections .con-nanny {
        position: absolute;
        top: 0;
        left: 0;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background: white; }
        .bs-auth .auth-page-image .bs-connections .con-nanny img {
          width: 100%;
          height: 100%;
          border-radius: inherit;
          opacity: 0.7; }
        .bs-auth .auth-page-image .bs-connections .con-nanny:nth-child(2) {
          left: auto;
          right: 0; }
        .bs-auth .auth-page-image .bs-connections .con-nanny:nth-child(3) {
          left: auto;
          right: 0;
          top: auto;
          bottom: 0; }
        .bs-auth .auth-page-image .bs-connections .con-nanny:nth-child(4) {
          top: auto;
          bottom: 0; }
      .bs-auth .auth-page-image .bs-connections .con-desc {
        position: absolute;
        bottom: -150px;
        left: 0; }
        .bs-auth .auth-page-image .bs-connections .con-desc h3 {
          color: white;
          text-align: center;
          font-size: 1.5rem;
          line-height: 1.3; }

.nanny-details-wrapper {
  width: 100%;
  margin-top: 102px;
  padding: 2rem 10rem;
  display: flex;
  justify-content: space-between; }
  .nanny-details-wrapper h3 {
    color: #717171;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(2, 200, 115, 0.4); }
  .nanny-details-wrapper p {
    line-height: 1.6; }
  .nanny-details-wrapper .nanny-desc-wrapper {
    width: 74%; }
    .nanny-details-wrapper .nanny-desc-wrapper .nanny-info-card {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 1.5rem 0; }
      .nanny-details-wrapper .nanny-desc-wrapper .nanny-info-card > div {
        width: calc(90% / 3);
        height: 400px; }
        .nanny-details-wrapper .nanny-desc-wrapper .nanny-info-card > div.info-card-img {
          position: relative;
          background: #02C873;
          border-radius: 2px; }
          .nanny-details-wrapper .nanny-desc-wrapper .nanny-info-card > div.info-card-img img {
            width: 100%;
            border-radius: inherit; }
          .nanny-details-wrapper .nanny-desc-wrapper .nanny-info-card > div.info-card-img div {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 1.3rem;
            background: #02C873;
            color: whitesmoke; }
        .nanny-details-wrapper .nanny-desc-wrapper .nanny-info-card > div.info-card-desc strong {
          text-transform: uppercase;
          display: block;
          margin-bottom: 1rem;
          color: #717171; }
        .nanny-details-wrapper .nanny-desc-wrapper .nanny-info-card > div.info-card-desc span {
          display: block;
          padding: 0.7rem 0; }
          .nanny-details-wrapper .nanny-desc-wrapper .nanny-info-card > div.info-card-desc span i {
            margin-right: 0.5rem; }
    .nanny-details-wrapper .nanny-desc-wrapper .contact-button {
      width: 100%;
      margin: 2rem 0;
      border: 1px solid rgba(2, 200, 115, 0.4);
      transition: all 300ms; }
      .nanny-details-wrapper .nanny-desc-wrapper .contact-button a {
        display: block;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        color: #02C873;
        font-weight: 600;
        padding: 1.5rem;
        transition: color 300ms; }
      .nanny-details-wrapper .nanny-desc-wrapper .contact-button:hover {
        background: #02C873;
        border-color: #02C873; }
        .nanny-details-wrapper .nanny-desc-wrapper .contact-button:hover a {
          color: white; }
    .nanny-details-wrapper .nanny-desc-wrapper .nanny-experience {
      width: 100%; }
      .nanny-details-wrapper .nanny-desc-wrapper .nanny-experience p {
        margin-bottom: 1rem; }
      .nanny-details-wrapper .nanny-desc-wrapper .nanny-experience > div {
        margin-bottom: 1rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap; }
        .nanny-details-wrapper .nanny-desc-wrapper .nanny-experience > div span {
          display: block;
          width: 30%;
          margin-right: calc(10% / 3);
          margin-bottom: 1rem; }
          .nanny-details-wrapper .nanny-desc-wrapper .nanny-experience > div span i {
            color: #02C873;
            margin-right: 1rem; }
    .nanny-details-wrapper .nanny-desc-wrapper .nanny-rating {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2.5rem; }
      .nanny-details-wrapper .nanny-desc-wrapper .nanny-rating div {
        margin-bottom: 1rem; }
        .nanny-details-wrapper .nanny-desc-wrapper .nanny-rating div i {
          font-size: 1.8rem;
          color: #ff9300; }
    .nanny-details-wrapper .nanny-desc-wrapper .similar-nannies {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .nanny-details-wrapper .nanny-desc-wrapper .similar-nannies .similar-nanny {
        width: 23%;
        position: relative; }
        .nanny-details-wrapper .nanny-desc-wrapper .similar-nannies .similar-nanny img {
          width: 100%;
          max-height: 200px;
          margin-bottom: 1rem; }
        .nanny-details-wrapper .nanny-desc-wrapper .similar-nannies .similar-nanny a {
          display: block; }
        .nanny-details-wrapper .nanny-desc-wrapper .similar-nannies .similar-nanny span {
          font-size: 0.8rem;
          color: #02C873; }
        .nanny-details-wrapper .nanny-desc-wrapper .similar-nannies .similar-nanny:before {
          position: absolute;
          content: '';
          z-index: -1;
          width: 100%;
          height: 106%;
          top: 0;
          left: 0;
          border-bottom: 1px solid rgba(2, 200, 115, 0.4); }
  .nanny-details-wrapper .nanny-desc-sidebar {
    width: 23%;
    background: linear-gradient(to right, transparent, rgba(245, 245, 245, 0.3)); }
    .nanny-details-wrapper .nanny-desc-sidebar .parent-reviews {
      width: 100%; }
      .nanny-details-wrapper .nanny-desc-sidebar .parent-reviews .p-review {
        padding: 1rem 1rem 1rem 0; }
        .nanny-details-wrapper .nanny-desc-sidebar .parent-reviews .p-review p {
          text-align: left;
          width: 100%;
          font-style: italic;
          margin-bottom: 0.7rem;
          font-size: 0.9rem;
          color: #878787; }
        .nanny-details-wrapper .nanny-desc-sidebar .parent-reviews .p-review i {
          display: block;
          text-align: left;
          font-size: 0.7rem;
          color: #02C873;
          width: 100%; }
    .nanny-details-wrapper .nanny-desc-sidebar .shortlist-book {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .nanny-details-wrapper .nanny-desc-sidebar .shortlist-book a {
        display: block;
        width: 46%;
        padding: 1rem;
        text-align: center;
        border: 1px solid #02C873;
        text-decoration: none;
        color: #02C873; }
        .nanny-details-wrapper .nanny-desc-sidebar .shortlist-book a:last-child {
          background: #02C873;
          color: white; }
    .nanny-details-wrapper .nanny-desc-sidebar .nanny-contact {
      width: 100%; }
      .nanny-details-wrapper .nanny-desc-sidebar .nanny-contact span {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.3rem; }
        .nanny-details-wrapper .nanny-desc-sidebar .nanny-contact span em {
          font-style: normal;
          width: 85%; }
        .nanny-details-wrapper .nanny-desc-sidebar .nanny-contact span i {
          font-size: 1.3rem;
          color: #02C873;
          margin-right: 1.5rem; }

/*# sourceMappingURL=app.css.map */
